@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::_wekbit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

.app {
  display: flex;
  justify-content: center;
  color: white;
}

.app__content {
  border: 2px solid red;
  border-top: none;
  max-width: 2000px;
  display: flex;
  position: relative;
}

.page {
  min-width: 700px;
  max-width: 700px;
  padding: 2rem 0;
}

.page__title {
  text-align: center;
  padding-bottom: 1rem;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
}

@media (max-width: 800px) {
  .app-content {
    min-width: 100svw;
  }

  .page {
    min-width: 350px;
    max-width: 350px;
  }
}
  